@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);



#header1-b H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
  text-align: center;
}
#header1-b P {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
  font-size: 30px;
}
#header1-b SPAN {
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
  text-align: center;
}
#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #000000;
}

#form1-a .mbr-section-title {
  color: #ffffff;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
}
#dropdown-menu-2btn-f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-f .nav .link,
#dropdown-menu-2btn-f .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-f .navbar,
#dropdown-menu-2btn-f .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-f .dropdown-menu a:hover,
#dropdown-menu-2btn-f .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-f .navbar-toggler {
  color: #000000;
}
