@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


#header1-0 H1 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}
#header1-0 P {
  font-family: 'Playfair Display', sans-serif;
}

#form1-a .mbr-section-title {
  color: #ffffff;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
}
