@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);



#header1-b H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
  text-align: center;
}
#header1-b P {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
  font-size: 30px;
}
#header1-b SPAN {
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
  text-align: center;
}

#form1-a .mbr-section-title {
  color: #ffffff;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
}
